.register-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fc;
}

.register-card{
    width:430px;
    background:#fff;
    padding:40px;
    border-radius:15px;
    box-shadow:0 8px 30px rgba(0,0,0,.1);
}

.register-card h1{
    margin-bottom:30px;
    color:#2a2f45;
}

.register-card form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.register-card input{
    padding:14px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:15px;
}

.register-card button{
    padding:14px;
    background:#5b4bdb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
}

.register-card button:hover{
    background:#4738c7;
}