body {
    background: red !important;
}
.organization-page {
    padding: 40px;
}

.page-title {
    font-size: 42px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 30px;
}

.organization-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 35px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.organization-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 22px;
}

.organization-grid div,
.full-width {
    display: flex;
    flex-direction: column;
}

.organization-grid label,
.full-width label {
    margin-bottom: 8px;
    font-weight: 600;
    color: #374151;
}

.organization-grid input,
.full-width textarea {
    padding: 12px 14px;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s;
    outline: none;
    background: white;
}

.organization-grid input:focus,
.full-width textarea:focus {
    border-color: #4F46E5;
    box-shadow: 0 0 0 3px rgba(79,70,229,0.15);
}

.full-width {
    margin-top: 25px;
}

.full-width textarea {
    resize: vertical;
    min-height: 120px;
}

.save-btn {
    margin-top: 30px;
    width: 100%;
    padding: 14px;
    background: #4F46E5;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.save-btn:hover {
    background: #4338CA;
}
